{% extends 'layout.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}

        <div class="container">
            <div class="row">
                <div class="col s12">

                    <div class="center">
                        <h1>Mes partenaires</h1>
                    </div>

                </div>
            </div>

            {% for partner in partners %}

                <div class="row">
                    <div class="col s12 m6 l6">
                        <div class="row">
                            <div class="col s12 m6 l6">
                                <p>{{ partner.partner }}</p>
                            </div>
                            <div class="col s12 m6 l6">
                                <p>{{ partner.website }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l6">
                        <div class="center">
                            <a href="{{ path('partner_edit', { 'id': partner.id }) }}">
                                <img src="{{ asset('images/local/icons/edit.svg') }}" class="plus-icon">
                            </a>
                        </div>
                    </div>
                </div>

            {% endfor %}

            <div class="row">
                <div class="col s12 center">
                    <a href="{{ path('partner_new') }}">
                        <img src="{{ asset('images/local/icons/plus-icon.svg') }}" class="plus-icon">
                    </a>
                </div>
            </div>

        </div>

    {% else %}

        <link rel="stylesheet" href="{{ asset('css/errors/errors_pages.css') }}" media="all">

        <body class="background-error">

            <div class="row font-color2">
                <div class="col s12">
                    <div class="center-align">
                        <h2>Oops! Ce n'est pas la bonne route!</h2>
                    </div>
                </div>
            </div>
            <div class="row font-color2">
                <div class="col s12 m6 l5">
                    <div>
                        <h3> Vous voilà au bord de la plage, prenez le temps d'observer le paysage.</h3>
                    </div>
                </div>
            </div>
            <div class="row left font-color2">
                <div class="col s12 m8 l7">
                    <div class="position-status">
                        <h3 class="font-color1">Si vous lisez ce message, prévenez<span class="right"> l'administrateur :</span></h3>
                        <h3 class="position-h3 font-color1"> "Erreur 404 - Page non trouvée".</h3>
                    </div>
                </div>
            </div>

        </body>

    {% endif %}

{% endblock %}



