{% if is_granted('ROLE_ADMIN') %}

{% extends 'layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="header-marge">
            <div class="row">
                <div class="col s12">

                    <div class="row">
                        <h1 class="center">Modification de l'objet</h1>
                    </div>

                    {{ form_start(edit_form) }}

                    <div class="row">
                        <div class="col s12 m6 l3">
                            <p>Modification du nom de l'objet :</p>
                        </div>
                        <div class="col s12 m6 l3">
                            {{ form_widget(edit_form.sgallery) }}
                            {{ form_errors(edit_form.sgallery) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 l3">
                            <p>Modification de la catégorie :</p>
                        </div>
                        <div class="col s12 m6 l3">
                            {{ form_widget(edit_form.gallery) }}
                            {{ form_errors(edit_form.gallery) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 l3">
                            <p>Modification de la description :</p>
                        </div>
                        <div class="col s12 m6 l3">
                            {{ form_widget(edit_form.description) }}
                            {{ form_errors(edit_form.description) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 l3">
                            <p>Modification du prix :</p>
                        </div>
                        <div class="col s12 m6 l3">
                            {{ form_widget(edit_form.prix) }}
                            {{ form_errors(edit_form.prix) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 l3">
                            <p>Modification de la photo :</p>
                        </div>
                        <div class="col s12 m6 l3">
                            {{ form_widget(edit_form.media) }}
                            {{ form_errors(edit_form.media) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 l3">
                            <p>Mettre en avant :</p>
                        </div>
                        <div class="switch">
                            <label>
                                Off
                                {{ form_widget(edit_form.slider, { 'attr': {'class': 'checksize'} }) }}
                                {{ form_errors(edit_form.slider) }}
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col s12 center">
                            <button class="left" type="submit"
                                    data-position="bottom"
                                    data-delay="50"
                                    data-tooltip="Valider">>
                                <img src="{{ asset('images/local/icons/plus-icon.svg') }}" class="plus-icon">
                            </button>

                            {{ form_end(edit_form) }}

                            {{ form_start(delete_form) }}

                            <button class="right" type="submit" name="action"
                                    data-position="bottom"
                                    data-delay="50"
                                    data-tooltip="supprimer">
                                <img src="{{ asset('images/local/icons/delete.svg') }}" class="plus-icon">
                            </button>

                            {{ form_end(delete_form) }}

                            <a class="" href="{{ path('homepage') }}"
                               data-position="bottom"
                               data-delay="50"
                               data-tooltip="Accueil">
                                <img src="{{ asset('images/local/icons/home-icon.svg') }}" class="plus-icon">
                            </a>

                        </div>
                    </div>

                    <div class="header-buttom-marge"></div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% else %}

    {% block error %}

    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8" />
        <title>Nathalie Sian Création {{ status_text }}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('') }}" />
        <!-- CSS -->
        <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}" media="all">
        <link rel="stylesheet" href="{{ asset('css/errors/errors_pages.css') }}" media="all">
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Alex+Brush|Allura|Dancing+Script|Great+Vibes|Lobster|Pacifico|Parisienne|Sacramento|Tangerine" rel="stylesheet">
        <!-- ICONS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body class="background-error">

    <div class="row font-color2">
        <div class="col s12">
            <div class="center-align">
                <h2>Oops! Ce n'est pas la bonne route!</h2>
            </div>
        </div>
    </div>
    <div class="row font-color2">
        <div class="col s12 m6 l5">
            <div>
                <h3> Vous voilà au bord de la plage, prenez le temps d'observer le paysage.</h3>
            </div>
        </div>
    </div>
    <div class="row left font-color2">
        <div class="col s12 m8 l7">
            <div class="position-status">
                <h3 class="font-color1">Si vous lisez ce message, prévenez<span class="right"> l'administrateur :</span></h3>
                <h3 class="position-h3"> "{{ status_code }} {{ status_text }}".</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="">
            <a class="btn dropdown-button navbutton fsize grey darken-2" href="mailto:qq1@qqpart.com" data-activates="dropdown2">
                Contactez moi
            </a>
        </div>
        <div class="">
            <a class="btn dropdown-button navbutton fsize red darken-4" href="{{ path('homepage') }}" data-activates="dropdown2">
                Retour au menu
            </a>
        </div>
    </div>

    </body>
    </html>

    {% endblock %}

{% endif %}


