{% extends 'layout.html.twig' %}

{% block body %}

        <tbody>
        {% for subGallery in subGalleries %}
        {% if Gallery == subGallery.gallery %}
            <tr>
                <td><a href="{{ path('subgallery_show', { 'id': subGallery.id }) }}">{{ subGallery.id }}</a></td>
                <td>{{ subGallery.sgallery }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('subgallery_show', { 'id': subGallery.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('subgallery_edit', { 'id': subGallery.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('subgallery_new') }}">Create a new subGallery</a>
        </li>
    </ul>
{% endblock %}
