{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/effects/style_common.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/effects/style.css') }}" />
{% endblock %}

{% block body %}

    <div id="grid" class="main">

        {% for subGallery in subGalleries %}

            {% if subGallery is defined %}


                    <div class="view">
                        <div class="view-back">
                            <span>{{ subGallery.sgallery }}</span>

                            <a href="#modal">?</a>
                        </div>
                        <img src="{{ asset(subGallery.media.picpath) | imagine_filter('my_thumb') }}" alt="{{ subGallery.media.picname }}" class="picsize"/>
                    </div>

                    {# ################# Si L'ADMIN EST ACTIF ###########################c#}
                    {% if is_granted('ROLE_ADMIN') %}

                        <div>
                            <a href="{{ path('subgallery_new') }}" class="">
                                <img src="{{ asset('images/local/icons/plus-icon.svg') }}" class="plus-icon">
                            </a>
                        </div>

                    {% endif %}
                    {# ################################################################## #}

            {% else %}

                <div class="container">

                    <div class="valign-wrapper">
                        <h5>Nous n'avons pas trouvé votre recherche</h5>
                    </div>

                </div>

            {% endif %}

    </div>

    <div class="container">
        <div class="row">
            <div class="col s12 center">

                {# ################# Si L'ADMIN EST ACTIF ###########################c#}
                {% if is_granted('ROLE_ADMIN') %}

                    <a href="{{ path('subgallery_new') }}" class="btn-floating btn-large waves-effect waves-light green darken-1 modal-action modal-close bouton-new">
                        <i class=" material-icons">add</i>
                    </a>

                {% endif %}
                {# ################################################################## #}

            </div>
        </div>

    </div>

<!------------------------------- --------------- ------------------------------------->
<!------------------------------- --------------- ------------------------------------->
<!------------------------------- MODAL STRUCTURE ------------------------------------->
<!------------------------------- --------------- ------------------------------------->
<!------------------------------- --------------- ------------------------------------->

        <div id="modal" class="modal">
            <div class="modal-content">
                <h4>{{ subGallery.sgallery }}r</h4>
                <p>{{ subGallery.component.description }}</p>
                <p>{{ subGallery.component.prix }}</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Quitter</a>
            </div>
        </div>

    {% endfor %}



    <script type="text/javascript" src="{{ asset('js/effects/modernizr.custom.69142.js') }}"></script>

    <script type="text/javascript">
        Modernizr.load({test: Modernizr.csstransforms3d && Modernizr.csstransitions,
            yep : ['{{ asset('js/jquery-3.2.1.min.js') }}','{{ asset('js/effects/jquery.hoverfold.js') }}'],
            nope: '{{ asset('css/effects/fallback.css') }}',
            callback : function( url, result, key ) {
                if( url === '{{ asset('js/effects/jquery.hoverfold.js') }}' ) {
                    $( '#grid' ).hoverfold();}}
        });
    </script>

{% endblock %}




