{% extends 'layout.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}

        <div class="container">
            <div class="header-marge">
                <div class="row">
                    <div class="col s12">

                        <div class="row">
                            <h1 class="center">Ajout d'un nouvel objet</h1>
                        </div>

                        {{ form_start(form) }}

                        <div class="row">
                            <div class="col s12 m6 l3">
                                <p>Sélection de la gallerie :</p>
                            </div>
                            <div class="col s12 m6 l3">
                                {{ form_widget(form.gallery) }}
                                {{ form_errors(form.gallery) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m6 l3">
                                <p>Nom du nouvel objet :</p>
                            </div>
                            <div class="col s12 m6 l3">
                                {{ form_widget(form.sgallery) }}
                                {{ form_errors(form.sgallery) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m6 l3">
                                <p>Description du nouvel objet :</p>
                            </div>
                            <div class="col s12 m6 l3">
                                {{ form_widget(form.description) }}
                                {{ form_errors(form.description) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m6 l3">
                                <p>prix du nouvel objet :</p>
                            </div>
                            <div class="col s12 m6 l3">
                                {{ form_widget(form.prix) }}
                                {{ form_errors(form.prix) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m6 l3">
                                <p>Photo du nouvel objet :</p>
                            </div>
                            <div class="col s12 m6 l3">
                                {{ form_widget(form.media) }}
                                {{ form_errors(form.media) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m6 l3">
                                <p>Mettre en avant :</p>
                            </div>
                            <div class="col s12 m6 l3">
                                {{ form_widget(form.slider, { 'id': 'test5' }, { 'attr': {'class': 'checksize'} }) }}
                                {{ form_errors(form.slider) }}
                            </div>
                        </div>

                        <div class="center">
                            <div class="col s12 center">
                                <button class="left" type="submit">
                                    <img src="{{ asset('images/local/icons/plus-icon.svg') }}" class="plus-icon">
                                </button>

                                <a class="" href="{{ path('homepage') }}">
                                    <img src="{{ asset('images/local/icons/home-icon.svg') }}" class="plus-icon">
                                </a>
                            </div>

                        {{ form_end(form) }}

                        {#<div class="header-buttom-marge"></div>#}

                        </div>
                     </div>
                </div>
            </div>
        </div>

    {% else %}

        <div class="container">
            <div class="row center">
                <div class="col s12">
                    <img src="{{ asset('images/local/icons/warning-icon1.svg') }}" class="warning">
                </div>
                <div class="col s12">
                    <h2 class="center-align">La page Que vous recherchez n'existe pas</h2>
                </div>
            </div>

        </div>

    {% endif %}

{% endblock %}
