{% extends 'layout.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}

        <div class="container">
            <div class="header-marge">
                <div class="row">
                    <div class="col s12">

                        <div class="row">
                            <h1 class="center">Ajout d'un nouvel objet</h1>
                        </div>

                        {{ form_start(form) }}

                        <div class="row">
                            <div class="col s12 m6 l3">
                                <p>Sélection de la gallerie :</p>
                            </div>
                            <div class="col s12 m6 l3">
                                {{ form_widget(form.gallery) }}
                                {{ form_errors(form.gallery) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m6 l3">
                                <p>Nom du nouvel objet :</p>
                            </div>
                            <div class="col s12 m6 l3">
                                {{ form_widget(form.sgallery) }}
                                {{ form_errors(form.sgallery) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m6 l3">
                                <p>Description du nouvel objet :</p>
                            </div>
                            <div class="col s12 m6 l3">
                                {{ form_widget(form.description) }}
                                {{ form_errors(form.description) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m6 l3">
                                <p>prix du nouvel objet :</p>
                            </div>
                            <div class="col s12 m6 l3">
                                {{ form_widget(form.prix) }}
                                {{ form_errors(form.prix) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m6 l3">
                                <p>Photo du nouvel objet :</p>
                            </div>
                            <div class="col s12 m6 l3">
                                {{ form_widget(form.media) }}
                                {{ form_errors(form.media) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m6 l3">
                                <p>Mettre en avant :</p>
                            </div>
                            <div class="switch">
                                <label>
                                    Off
                                    {{ form_widget(form.slider, { 'attr': {'class': 'checksize'} }) }}
                                    {{ form_errors(form.slider) }}
                                    <span class="lever"></span>
                                    On
                                </label>
                            </div>
                        </div>

                        <div class="center">
                            <div class="col s12 center">
                                <button class="left" type="submit">
                                    <img src="{{ asset('images/local/icons/plus-icon.svg') }}" class="plus-icon">
                                </button>

                                <a class="" href="{{ path('homepage') }}">
                                    <img src="{{ asset('images/local/icons/home-icon.svg') }}" class="plus-icon">
                                </a>
                            </div>

                        {{ form_end(form) }}

                        </div>
                     </div>
                </div>
            </div>
        </div>

    {% else %}

        <link rel="stylesheet" href="{{ asset('css/errors/errors_pages.css') }}" media="all">

        <body class="background-error">

            <div class="row font-color2">
                <div class="col s12">
                    <div class="center-align">
                        <h2>Oops! Ce n'est pas la bonne route!</h2>
                    </div>
                </div>
            </div>
            <div class="row font-color2">
                <div class="col s12 m6 l5">
                    <div>
                        <h3> Vous voilà au bord de la plage, prenez le temps d'observer le paysage.</h3>
                    </div>
                </div>
            </div>
            <div class="row left font-color2">
                <div class="col s12 m8 l7">
                    <div class="position-status">
                        <h3 class="font-color1">Si vous lisez ce message, prévenez<span class="right"> l'administrateur :</span></h3>
                        <h3 class="position-h3"> "Erreur 404 - Page non trouvée".</h3>
                    </div>
                </div>
            </div>

        </body>

    {% endif %}

{% endblock %}