{% extends 'base.html.twig' %}

{% block header %}

    {{ render(controller('AppBundle:Header:index')) }}

{% endblock %}

{% block footer %}

    <footer class="page-footer backcontent">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text"></h5>
                    <p class="grey-text text-lighten-4">
                        {{ render(controller('AppBundle:About:show')) }}
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Partenaires</h5>

                    <ul>
                        {{ render(controller('AppBundle:Partner:show')) }}
                        <li>
                            <a class="btn dropdown-button navbutton fsize" href="#!" data-activates="dropdown2">Contact</a>
                        </li>
                    </ul>
                    {% if is_granted('ROLE_ADMIN') %}

                        <div class="right">
                            <a href="{{ path('partner_index') }}" class="right">
                                <img src="{{ asset('images/local/icons/menu-icon.svg') }}" class="plus-icon-index">
                            </a>
                        </div>

                    {% endif %}
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container font-href-foot">
                <a href="{{ path('fos_user_security_login') }}" class="login">©</a>
                <a href="https://www.linkedin.com/in/julien-grima-927612129/">
                    Créé et géré par Julien Grima
                </a>
            </div>
        </div>
    </footer>

{% endblock %}