{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}

    {{ render(controller('AppBundle:Header:index')) }}

{% endblock %}

{% block footer %}

    <footer class="page-footer backcontent">
        <div class="container">
            <div class="row">
                <div class="col s12 m2 l2">
                    <div class="facebook">
                         <a href="https://www.facebook.com/pg/sian.nathalie/">
                             <img src="{{ asset('bundles/calendar/images-colorpicker/facebook.png') }}" class="temp-fb">
                         </a>
                    </div>
                </div>
                <div class="col s12 m6 l6 center">
                    <h4 class="white-text">Partenaires</h4>

                    <ul>
                        {{ render(controller('AppBundle:Partner:show')) }}

                        {% if is_granted('ROLE_ADMIN') %}

                            <li class="valign-li">
                                <a href="{{ path('partner_index') }}">
                                    <img src="{{ asset('images/local/icons/menu-icon.svg') }}" class="plus-icon-index">
                                </a>
                            </li>

                        {% endif %}
                    </ul>
                </div>

                <!-- A METTRE EN ADMINISTRATION POUR CLIENT -->
                <div class="col s12 m4 l4">
                    <div class="font-size contact">
                        <ul>
                            <li>Showroom :</li>
                            <li>13 Chemin du Terroir</li>
                            <li>77920 Samois sur seine</li>
                            <li>tèl : 06 07 70 31 49</li>
                            <li><a class="fontref" href="mailto:qq1@qqpart.com">nathalie.sian@yahoo.fr</a></li>
                        </ul>
                    </div>
                    <div class="center-align ">
                        <a class="btn dropdown-button navbutton fsize" href="mailto:qq1@qqpart.com" data-activates="dropdown2">
                            Contact
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container font-href-foot center-align">
                <a href="{{ path('fos_user_security_login') }}" class="login">©</a>
                <a href="https://www.linkedin.com/in/julien-grima-927612129/" class="fontref">
                    Créé et géré par Julien Grima
                </a>
            </div>
        </div>
    </footer>

{% endblock %}