{% extends 'layout.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col s12">

                <div class="center">
                    <h1>Je me présente</h1>
                </div>

            </div>
        </div>

        {% for about in abouts %}

            <div class="row">
                <div class="col s12 m6 l6">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <p>{{ about.about }}</p>
                        </div>
                        <div class="col s12 m6 l6">
                            <img src="{{ asset(about.media.picpath) }}" alt="{{ about.media.picname }}" class="picsize">
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l6">
                    <a href="{{ path('about_edit', { 'id': about.id }) }}">
                        <img src="{{ asset('images/local/icons/edit.svg') }}">
                    </a>
                    <a href="{{ path('about_delete', { 'id': about.id }) }}">
                        <img src="{{ asset('images/local/icons/delete.svg') }}">
                    </a>
                </div>
            </div>

        {% endfor %}

        <div class="row">
            <div class="col s12">
                <a href="{{ path('about_new') }}">
                    <img src="{{ asset('images/local/icons/plus-icon.svg') }}">
                </a>
            </div>
        </div>

    </div>

{% endblock %}
