{% extends 'layout.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}

        <div class="container">
            <div class="header-marge">
                <div class="row">
                    <div class="col s12">

                        <div class="row">
                            <h1 class="center">Modification de la catégorie</h1>
                        </div>

                        {{ form_start(edit_form) }}

                        <div class="row">
                            <div class="col s12 m6 l3">
                                <p>Nom de la nouvelle catégorie :</p>
                            </div>
                            <div class="col s12 m6 l3">
                                {{ form_widget(edit_form.name) }}
                                {{ form_errors(edit_form.name) }}
                            </div>
                        </div>

                        <div class="center">
                            <button class="left" type="submit">
                                <img src="{{ asset('images/local/icons/plus-icon.svg') }}" class="plus-icon">
                            </button>

                            {{ form_start(delete_form) }}

                            <button class="right" type="submit" name="action"
                                    data-position="bottom"
                                    data-delay="50"
                                    data-tooltip="supprimer">
                                <img src="{{ asset('images/local/icons/delete.svg') }}" class="plus-icon">
                            </button>

                            {{ form_end(delete_form) }}

                            <a class="" href="{{ path('header_show_all') }}">
                                <img src="{{ asset('images/local/icons/menu-icon.svg') }}" class="plus-icon">
                            </a>
                        </div>

                        {{ form_end(edit_form) }}

                        <div class="header-buttom-marge"></div>

                    </div>
                </div>
            </div>
        </div>

    {% else %}

        <link rel="stylesheet" href="{{ asset('css/errors/errors_pages.css') }}" media="all">

        <body class="background-error">

            <div class="row font-color2">
                <div class="col s12">
                    <div class="center-align">
                        <h2>Oops! Ce n'est pas la bonne route!</h2>
                    </div>
                </div>
            </div>
            <div class="row font-color2">
                <div class="col s12 m6 l5">
                    <div>
                        <h3> Vous voilà au bord de la plage, prenez le temps d'observer le paysage.</h3>
                    </div>
                </div>
            </div>
            <div class="row left font-color2">
                <div class="col s12 m8 l7">
                    <div class="position-status">
                        <h3 class="font-color1">Si vous lisez ce message, prévenez<span class="right"> l'administrateur :</span></h3>
                        <h3 class="position-h3 font-color1"> "Erreur 404 - Page non trouvée".</h3>
                    </div>
                </div>
            </div>

        </body>

    {% endif %}

{% endblock %}

